
body{
    text-align: center;
    font-family: 'Helvetica';
}
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#opacity {
    backgroundcolor: white;
    opacity: 0.5;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.title{
    z-index: 100;
    position: relative;
    width: 100%;
    height: 150px;
}

h1{
    font-family: "Pacifico" !important;
}

.result{
    border: 1px solid grey;
    width: 500px;
    height: 100px;
    text-align: center;
    display: block;
    margin: auto;
    background-color: #f2f2f2;
}

.order{
    font-style: italic;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 20px;
}

dd{
    min-width: 200px;
    height: 30px;
    font-size: 0.8em !important;
    line-height: 5px;
    border: 1px solid grey;
}

dd a{
    font-size: 1em !important;
}

input[type='text']{
    text-align: center;
    margin: auto;
    opacity: 0.8;
}

.footer{
    margin-top: 100px;
    z-index: 100;
    position: relative;
    width: 100%;
    height: 30px;
    background-color: white;
    opacity: 0.6;
}